body {
  background-color: cornsilk;
}

.App {
  display: flex;
  justify-content: center;
  align-content: space-around;
  height: 100vh;
  flex-wrap: wrap;
}

.Title {
  text-align: center;
  width: 70vw;
  height: 10vh;
  padding-top: 6vh;
  background-color: rgba(10, 10, 10,0.3);
  border-radius: 10px;
}

.MainArea {
  background-color: white;
  align-self: center;
  margin: auto;
  width: 70vw;
  height: 70vh;
  margin-bottom: 10vh;
  border-radius: 10px;
}