body {
  background-image: url('./pexels-photo-703016.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-content: space-around;
  height: 100vh;
  flex-wrap: wrap;
}

.Title {
  text-align: center;
  width: 70vw;
  height: 10vh;
  padding-top: 6vh;
  background-color: rgba(130,158,189, 0.695);
  border-radius: 10px;
  color: white;
  font-size: 3em;
}

.MainArea {
  background-color: white;
  align-self: center;
  margin: auto;
  width: 70vw;
  height: 70vh;
  margin-bottom: 10vh;
  border-radius: 10px;
}